{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "test",
    "node_modules",
    "scripts"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "produce-source-map": true,
  "all": true
}